
body {
    background-color: goldenrod;
    
}

.h1 , h2, p {
    color: black;
}

.example {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

@media (min-width : 2000px) {
    .example {
        display: none;
    }
}
 @media screen  (max-width : 500px) {
.example {
    width : 100%;
}
 } 
    


     
 


    